/Assessment_Project.pdf
/CTDC_Slides (15).pdf
/ex10.png
/ex9.png
/example10.py
/example1a.py
/example2.py
/example3.py
/example4.py
/example7.py
/example8.py
/example9.py
/FC
/Project_FC4.py
/Project_FC4_0.py
/testeGurobi.py
/__pycache__